* {
 margin:0;
 padding:0;
}

.formFields {
 text-family:Verdana, Arial, Helvetica, sans-serif; /*Nome da fonte*/
 font-weight:bold;
 text-size:12px; /*Tamanho da fonte*/
 color:#000000; /*Cor da fonte*/
 background:#C0C0C0; /*Cor de fundo do elemento*/
}

#aluno { font-size: 9px;
         font-family: Verdana;
         color:#000000;
         padding-left:2px;
         margin-left:9px;
         margin-top:9px;
         text-decoration:none;}
#aluno table{background:#fff; 
             border-top:1px solid #e0e0e0; 
			 border-left:1px solid #e0e0e0;
			 border-right:1px solid #e0e0e0;
			 border-bottom:1px solid #e0e0e0;
			 border-collapse: collapse;}

#fieldset1 {
  width: 505;
  float: left;
  margin:10px;
  padding:auto;}

#fieldsetar {
  width: 97%;
  float: left;
  padding:auto;}
  
#fieldrel {
  width: 300;
  float: left;
  padding:auto;}

legend {
  font: bold 110% verdana, arial, tahoma, sans-sarif;
  margin:10px;
  background-image:url(images/legenda.gif);}
  
#titcad {
  font: bold 110% verdana, arial, tahoma, sans-sarif;
  text-align: center;
  padding:0px auto;
  width:40%;
  background-image:url(images/legenda.gif);}  
  
#titrel {
  font: bold 110% verdana, arial, tahoma, sans-sarif;
  text-align: center;
  padding:0px auto;
  width:100%;
  background-image:url(images/legenda.gif);}   

#fieldsetar legend{font: bold 80% verdana, arial, tahoma, sans-sarif;
                   margin:2px;}
                   
#fieldrel legend{font: bold 100% verdana, arial, tahoma, sans-sarif;
                   margin:2px;}

label {
 font: bold 10px verdana, arial, tahoma, sans-sarif;
 display: block;
 float: left;}
 
 #label {
 font: bold 10px verdana, arial, tahoma, sans-sarif;
 display: block;
 float:right;}
 
#fieldsetar label{float:right;}

.input {
 text-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:10px;}
 
#fieldsetar input {text-family:Verdana, Arial, Helvetica, sans-serif;
                   font-size:10px;}

#nome{ font: bold 12px verdana, arial, tahoma, sans-sarif;
       text-align:  center;
       width: 100%;}
       
#nomerel{ font: bold 12px verdana, arial, tahoma, sans-sarif;
       text-align:  center;
       width: 300px;}
       
#nome400{ font: bold 12px verdana, arial, tahoma, sans-sarif;
       text-align:  center;
       width: 400px;}        

/*#fieldset1 {
  width: 480;
  z-index:auto !important;
  border:5px solid #E6E6E6;
  float: left;
}
legend {
  font: bold 120% verdana, arial, tahoma, sans-sarif;
  margin:10px;
}

label {
   cursor: pointer;
   cursor: hand;
}

label {
 font: bold 10px verdana, arial, tahoma, sans-sarif;
 display: block;
 width: 215px;
 float: left;
 padding-left:10px;
 border:solid 1px;
 height: 42px;
}

label input {
 width: 190px;
 text-family:Verdana, Arial, Helvetica, sans-serif;
 font-weight:bold;
 font-size:10px;
 color:#000000;
 border:5px solid #E6E6E6;
}

input:focus
{
   border-color: #B9B9B9;
}


label select {
 width: 203px;
 text-family:Verdana, Arial, Helvetica, sans-serif;
 font-weight:bold;
 font-size:10px;
 color:#000000;
 border:5px solid #E6E6E6;
 background:#C0C0C0;
}

label select:focus
{
   border-color: #B9B9B9;
}

label span {
  font: bold 8px verdana, arial, tahoma, sans-sarif;
  color:gray;
}*/

table#alter tr td {background: #408080;} /* Toda a tabela com fundo creme */
table#alter tr.dif td {background: #DDEEEE;} /* Linhas com fundo cinza */

#box-table-b
{
	font-family: "Lucida Sans Unicode", "Arial", Sans-Serif;
	font-size: 10px;
	margin: 10px;
	width: 98%;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 7px solid #9baff1;
}
#box-table-b th
{
	font-size: 10px;
	font-weight: normal;
	padding: 3px;
	background: #d0d9f6;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	color: #000;
}
#box-table-b td
{
	padding: 2px;
	background: #e8edff; 
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	color: #000;
}

#box-table-b tr.N td {background: #e8edff;} /* Linhas normal */
#box-table-b tr.D td {background: #CCCC66;} /* Linhas dependencia */
#box-table-b tr.A td {background: #CC9966;} /* Linhas adaptação */
#box-table-b tr.V td {background: #FF9933;} /* Linhas veraão */
#box-table-b tr.E td {background: #99FFFF;} /* Linhas especial */

#box-table-b tr:hover td
{
	color: #339;
	background: #9baff1;
}

table#alter tr.N td {background: #DDEEEE;} /* Linhas normal */
table#alter tr.D td {background: #CCCC66;} /* Linhas dependencia */
table#alter tr.A td {background: #CC9966;} /* Linhas adaptação */
table#alter tr.V td {background: #FF9933;} /* Linhas veraão */
table#alter tr.E td {background: #99FFFF;} /* Linhas especial */

table#alter tr.ZA td {background: #DDEEEE;} /* Linhas zebrada */
table#alter tr.ZB td {background: #d4d9d9;} /* Linhas zebrada */

#sl {color: #000099; width: 40px; text-align: center; font-weight:bold;} /* Linhas com fundo cinza */
#sd {background: #CCCC66; width: 100px; text-align: center; font-weight:bold;} /* Linhas com fundo cinza */
#sa {background: #CC9966; width: 100px; text-align: center; font-weight:bold;} /* Linhas com fundo cinza */
#sv {background: #FF9933; width: 100px; text-align: center; font-weight:bold;} /* Linhas com fundo cinza */
#se {background: #99FFFF; width: 100px; text-align: center; font-weight:bold;} /* Linhas com fundo cinza */

#tabsJ{margin-left:10px;}
#tabsJ{float:left;}
#dtab{float:left;}
#dtab{margin-left:10px;}

#scrollContainer {width: 98%;height: 320px;overflow: auto; border:1px solid;}
