/* CSS Document */

body  {margin:0;padding:0;}

html {margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;background-color:#c1bebe;}

ul, li {list-style:none;margin:0;padding:0;}
li a {text-decoration:none;color:black;}
h1 {font-size:19px;font-weight:normal;}
img {display: block;border:none;}
img p {margin:0;padding:0;}

#navigation {/*border: 1px solid;*/background-image:url(images/navi.gif);width:100%;height:42px;}
#navigation ul {padding-left:15px;}
#navigation ul li {float:left;font-size:11px;padding-right:10px;background-image:url(images/divider2.gif);background-position:right;background-repeat:no-repeat;height:30px;}
#navigation ul li a {padding-right:8px;position:relative;top:15px;}

#center {/*border: 1px solid;*/background-color:#fff;width:95%;margin:auto;margin-bottom:15px;}
#centerpes {background-color:white;width:95%;margin:10px 10px 10px 15px;height:365px;}


.active {background-image:url(images/subnavi.gif);width:150px;padding:0;margin:0;;background-repeat:no-repeat;background-color: #E3E5E1;}
.current {font-weight:bold;}
.normal {background-image:url(images/border.gif);background-repeat:no-repeat;padding:0;margin:0;}
#setar{/*border: 1px solid;*/ width:100%;height:55px;}
#setar span{}

#subnavigation {/*border: 1px solid;*/width:17%;float:left;}/**/
#subnavigation ul li {margin-left:9px;padding-top:9px;padding-bottom:7px;}
#subnavigation ul li a {padding-left:20px;}
#subnavigation ul li a:hover {color: red; font-size:10;}

#content {/*border: 1px solid;*/ background-image:url(images/line_vert.gif);background-repeat:repeat-y;float:left;width:80%;margin-left:9px;padding-left:5px;line-height:16px;margin-top:12px;padding-bottom:10px;background-color:white;}/**/

#iniciado {background-image:url(images/line_vert.gif);
           background-repeat:repeat-y;
           float:left;width:85%;margin-left:24px;
           padding-left:24px;line-height:16px;margin-top:12px;padding-bottom:45px;
           font-size:16px;text-align:center;}

#footer {font-size:9px;text-align:center;margin-right:14px;padding-bottom:10px;text-decoration:none;color:#BBBEC7;}
#footer a {text-decoration:none;color:#BBBEC7;}

.float-left {float:left;width:230px;padding-right:10px;margin:0;}
.float-none {clear:left;display:block;}

.cleaner {clear:both;
	      height:1px;
	      Font-size:1px;
	      border:0px none;
          margin:0;padding:0;
	      background:transparent;}
 /* Plus */
#ban_top {
    width:95%;
    height: 60px;
    margin: 5px auto 0 auto;
    /*border: 1px solid;*/
	background-color: #FFFFFF;}
#logo {background: url(images/banner_top.jpg) no-repeat left top;;
    width:100%;
    height: 60px;}	
    

.login {
    font: 100% Arial, Sans-Serif;
    font-weight: bold;
    /*border: 2px solid #EEEEEE;*/
    color: #808080;
    line-height: 1.4em;
    margin: 0 auto 0px auto;
    padding: 0px 6px 5px 8px;
    width: 253px;
    height: 147px;
    background:url("images/Login.png") no-repeat left top;
   /*   background: #FFFFFF url(seoad.jpg) no-repeat;   */}
   
.login2 {
    padding: 7% 15px 0px 0px;
    width: 220px;
    height: 100px;} 

#forms {/*border: 2px solid*/;width:98%;margin-left:2px;padding-left:2px;margin-top:30px;}/**/
#forms span{}
#forms2 {/*border: 1px solid;*/ width:95%px;margin-top:2px;}/**/
#forms2 span{}
#forms3 {/*border: 3px solid;*/ width:74%px;margin-left:2px;padding-left:2px;margin-top:2px;}/**/
#forms3 span{}

#loginb {background:url("images/button.png") no-repeat;
         width:85px;
		 height:25px;
		 display:block;
		 border-style: none;
	     padding: 4% 8px 12px 10px;
		 font-family: verdana;
		 font-size: 12px;
		 font-weight: bold;}

		 
#button  {background:url("images/setar.png") no-repeat;
         width:50px;
		 height:20px;
		 display:block;
		 border-style: none;
	     padding: 4% 0px 17px 0px;
		 font-family: verdana;
		 font-size: 9px;
		 font-weight: bold;
		 color:#FFFFFF;}

.realupload {
      position: relative;
      float: right;
      top: 21px;
      right: 20px;
      opacity:0;
      -moz-opacity:0;
      filter:alpha(opacity:0);
}

.fakeupload {
	  top: -21px;
      width: 300px;
      background: url("images/icons/folder_16.png") no-repeat 99% 51%;
      cursor: default;
      background-color: #FFFFFF;
      border: 1px solid #e4e4e4;
      letter-spacing: 1px;
      font-size: 11px;
      color: #333;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 5px;
      height: 15px;
      vertical-align: middle;
}

.caminho {width:100%;height:18px;background-color:#DDEEEE;margin-bottom:5px}
.caminho li {color:blue;float:left;font-size:10px;padding-right:0px;height:18px;}
.caminho a {padding-left:18px;padding-right:4px;position:relative;top:0px;background-image:url(images/icons/Redo_16.png) ;background-position:left;background-repeat:no-repeat;color:black;}
              
/*#tabsJ {border: 2px solid;}*/

#tabsJ li {
      display:inline;
      margin:0;
      padding:0;
	  padding-left:18px;}

#tabsJ a {
      float:left;
      background:url("images/tableftJ.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;}
#tabsJ a span {
      float:left;
      display:block;
      background:url("images/tabrightJ.gif") no-repeat right top;
      padding:5px 14px 4px 6px;
      color:#24618E;}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsJ a span {float:none;}
/* End IE5-Mac hack */
#tabsJ a:hover span { color:#FFF;}
#tabsJ a:hover {background-position:0% -42px;}
#tabsJ a:hover span {background-position:100% -42px;}
#tabsJ #current a {background-position:0% -42px;}
#tabsJ #current a span {background-position:100% -42px; color:#FFF;}
#tabsJ {width: 520px;}

.Ancora a {text-decoration: none; font-weight:bold;}
.Ancora a:visited {text-decoration: none;}
.Ancora a:active {text-decoration: none;}
.Ancora a:hover {text-decoration: underline; color: red;}

.AncoraGrid a {text-decoration: none; font: 10px Verdana; color:#000000; }
.AncoraGrid a:visited {text-decoration: none;}
.AncoraGrid a:active {text-decoration: none;}
.AncoraGrid a:hover {text-decoration: underline; color: #0842fd; }

option{font-family: verdana; font-size: 11px; background-color:#DDEEEE;}
SELECT{ font-family: verdana; font-size: 11px; color: #000000;}
input{ font-family: verdana; font-size: 11px; color: #000000;}/*Input box geral*/

/*usado no formulario 45SA*/
.alininp{ font-family: verdana; font-size: 11px; color: #000000; text-align:right;}
.alininpbold{ font-family: verdana; font-size: 11px; color: #000000; text-align:right;font-weight: bold;}
.centerinpbold{ font-family: verdana; font-size: 11px; color: #FF0000; text-align:center;font-weight: bold;}
.centerinpboldp{ font-family: verdana; font-size: 11px; color: #0000CD; text-align:center;font-weight: bold;}
.centerinpboldtext{ font-family: verdana; font-size: 11px; color: #000000; text-align:center;font-weight: bold;}
#selbold{ font-family: verdana; font-size: 11px; color: #000000;font-weight: bold;}

#tabcolomsgerr{background-color:#EE3F3F;}
#tabcololnmsgerr{background-color:#FFFFFF;}
#AncoraGridmsgerr{text-decoration: none; font-weight:bold; color:#FFFFFF; }
#textlogin{text-decoration: none; font-weight:bold; color:#000000; }
.tabcenter{background-color:#FFFFFF; padding-left: 8%;}

.q_page {page-break-after: always;}

div.simpleTabs { padding:10px; }
ul.simpleTabsNavigation { margin:0 10px; padding:0; text-align:left; }
ul.simpleTabsNavigation li { list-style:none; display:inline; margin:0; padding:0; }
ul.simpleTabsNavigation li a { border:1px solid #E0E0E0; padding:3px 6px; background:#F0F0F0; font-size:12px; text-decoration:none; font-family:Georgia, "Times New Roman", Times, serif; color:#24618E;}
ul.simpleTabsNavigation li a:hover { text-decoration:none; background-color:#F6F6F6; font-family:Georgia, "Times New Roman", Times, serif; }
ul.simpleTabsNavigation li a.current { background:#fff; color:#24618E; border-bottom:1px solid #fff; }
div.simpleTabsContent { border:1px solid #E0E0E0; padding:5px 5px 5px 5px; margin-top:3px; display:none; }
div.simpleTabsContent.currentTab { display:block; }
.container { width:100%; padding:0px 0px 0px 0px; background:#fff; border:1px solid #e0e0e0; }


